<div class="col-md-4 offset-md-4 mt-5">

    <div class="card">
        <!-- <h4 class="card-header"></h4> -->
        <br>
        <br>
        <div class="card-body">
            <div class="imageClass" style="margin-bottom: 10px;">
                <img class="img-responsive center" width="250px" src="assets/logo-social.png">
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <!-- <label for="username">Korisničko ime</label>
                    <br> -->
                    <!-- <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" /> -->
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Unesite korisničko ime</mat-label>
                      <input matInput formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Korisničko ime je potrebno</div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label for="password">Lozinka</label>
                    <br> -->
                    <!-- <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" /> -->
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Unesite lozinku</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Lozinka je potrebna</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary float-center" >
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <br>
                <br>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>
