<div class="grid-container" >
    <mat-card class="mat-elevation-z3">
        <div style="margin-bottom:15px;">
            <h3 style="display:inline;"> Promjena lozinke</h3>
            <button mat-button class="add-button" [routerLink]="['../../']">Nazad</button>
          </div>
    </mat-card>
    <div class="mat-elevation-z8" style="padding: 10px;">
      <form matForm [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="field" style="margin-left:15px; margin-top:15px;">
            <mat-label>Stara lozinka</mat-label>
            <input matInput formControlName="OldPassword" >
             <mat-error *ngIf="f1.OldPassword.errors?.required">Ovo polje je obavezno</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="field" style="margin-left:15px; margin-top:15px;">
            <mat-label>Nova lozinka</mat-label>
            <input matInput formControlName="NewPassword">
            <mat-error *ngIf="f1.NewPassword.errors?.required">Ovo polje je obavezno</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="field" style="margin-left:15px; margin-top:15px;">
            <mat-label>Potvrdite novu lozinku</mat-label>
            <input matInput formControlName="NewPasswordAgain">
            <mat-error *ngIf="f1.NewPasswordAgain.errors?.required">Ovo polje je obavezno</mat-error>
        </mat-form-field>
        <br>
  
    <div>
        <button class="add-button float-right" mat-raised-button style="margin-left:15px; margin-bottom:15px;"  >
            Sačuvaj
        </button>
      </div>
      <br><br>
      </form>
  
    </div>
  
    </div>
  