.grid-container {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 3em;
  
  }
  
  .grid-body{
    margin-top: 2px;
  }
  
  .back-btn{
    margin-top:5px;
    float: right;
    background-color: rgb(47, 47, 185);
    color: white;
  }
  
  .add-button {
    background-color: rgb(47, 47, 185);
    color: white;
    float: right;
  }
  
  .field{
    margin-right: 5%;
    margin-bottom: 10px;
  }
  
  #spinnerWrapper
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  